@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
    font-family: "Rubik", sans-serif;
    background-color: #24273a;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #cad3f5;
}

h2 {
    color: #cad3f5;
}

p {
    color: #cad3f5;
}

img {
    width: 200px;
    height: auto;
}

/* top bar */
div.top_bar {
    display: flex;
    background-color: #1e2030;
    height: 70px;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
}

div.top_bar p,
div.top_bar a {
    font-size: 20px;
}

div.top_bar a {
    color: #cad3f5;
    text-decoration: none;
}

div.top_bar a:hover {
    color: #7dc4e4;
}

div.top_bar div.left {
    margin-left: 30px;
    height: 100%;
}

div.top_bar div.on_this_page {
    display: flex;
    align-items: center;
    height: 68px;
    border-bottom: 2px solid #7dc4e4;
}

div.top_bar div.right {
    margin-right: 30px;
}

div.top_bar div.github-box {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #cad3f5;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

div.top_bar div.github-box:hover {
    background-color: #a5adcb;
}

div.top_bar div.github-box img {
    height: 32px;
    width: auto;
}

div.top_bar div.left {
    display: flex;
    align-items: center;
}

/* intro bit */
div.intro {
    display: flex;

    flex-direction: column;
    align-items: center;
}

div.intro p {
    word-wrap: break-word;
    max-width: 720px;
}

/* middle bit - hot takes */
div.content {
    padding-left: 10px;
    padding-right: 10px;
}

div.hot_takes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.hot_takes {
    max-width: 720px;
}

div.hot_takes div.title {
    display: flex;
    justify-content: center;
}
