@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #24273a;
}

h1 {
  color: #cad3f5
}

p {
  color: #cad3f5;
  word-wrap: break-word;
  width: 720px;
}

p.middle {
  text-align: center;
}

button.notClicked {
  font-family: 'Rubik', sans-serif;
  background-color: #363a4f;
  color: #cad3f5;
  height: 50px;
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.Clicked {
  font-family: 'Rubik', sans-serif;
  background-color: #494d64;
  color: #cad3f5;
  height: 50px;
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  width: 200px;
  height: auto;
}

div.belvis_image {
  display: flex;
  justify-content: center;
}

div.belvis_image .text {
  float: left;
  width: 200px;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
}

div.belvis_image img.image {
  float: left;
  width: 200px;
  height: auto;
}
