@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
    font-family: "Rubik", sans-serif;
    background-color: #24273a;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #cad3f5;
}

p {
    color: #cad3f5;
}

img {
    width: 200px;
    height: auto;
}

/* top bar */
div.top_bar {
    display: flex;
    background-color: #1e2030;
    height: 100px;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
}

div.top_bar div.left {
    margin-left: 30px
}

div.top_bar div.right {
    margin-right: 30px;
}

div.top_bar div.github-box {
    display: flex;
    height: 70px;
    width: 70px;
    background-color: #cad3f5;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

div.top_bar div.github-box:hover {
    background-color: #a5adcb;
}

div.top_bar div.github-box img {
    height: 50px;
    width: auto;
}

/* intro bit */
div.intro {
    display: flex;

    flex-direction: column;
    align-items: center;
}

div.intro p {
    word-wrap: break-word;
    width: 720px;
}

/* middle bit */
div.middle_section {
    display: flex;
    justify-content: center;
}

div.middle_section p.text {
    float: left;
    width: 240px;
    word-wrap: break-word;
    margin: 0px;
}

div.middle_section div.middle_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

div.middle_section div.middle_div img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

/* button */
button.notClicked {
    font-family: "Rubik", sans-serif;
    background-color: #363a4f;
    color: #cad3f5;
    height: 50px;
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.Clicked {
    font-family: "Rubik", sans-serif;
    background-color: #494d64;
    color: #cad3f5;
    height: 50px;
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
